<div class="flex" *ngIf="display$ | async">
  <div class="modal">
    <div class="modal-container">
      <div class="modal-header">
        <div class="title"><u *ngIf="context === 'LISTEDITEMS'">Africa</u></div>
        <div class="btnX" (click)="close()"></div>
      </div>
      <div class="modal-content">
        <form [formGroup]="modalForm" class="vertical">
          <label for="name">Name:</label>
          <input
            id="name"
            *ngIf="context === 'ITEMS'"
            formControlName="name"
            type="text"
          />
          <input
            id="name"
            *ngIf="context === 'LISTEDITEMS'"
            readonly
            formControlName="name"
            type="text"
          />
          <select [formControl]="itemControl" *ngIf="context === 'LISTEDITEMS'">
            <option [ngValue]="null" disabled>Select Item</option>
            <option *ngFor="let item of items" [ngValue]="item">
              {{ item.name }}
            </option>
          </select>

          <label *ngIf="context === 'LISTEDITEMS'" for="count">Count:</label>
          <input
            *ngIf="context === 'LISTEDITEMS'"
            id="count"
            formControlName="count"
            type="number"
          />

          <label
            *ngIf="context === 'LISTEDITEMS' || context === 'ITEMS'"
            for="prize"
            >Prize:</label
          >
          <input
            *ngIf="context === 'ITEMS'"
            id="prize"
            formControlName="prize"
            type="number"
          />
          <input
            *ngIf="context === 'LISTEDITEMS'"
            id="prize"
            readonly
            formControlName="prize"
            type="number"
          />
          <!-- <label for="comment">Kommentar:</label>
          <textarea id="comment"></textarea> -->
          <button
            type="submit"
            [disabled]="!modalForm.valid"
            (click)="saveItem()"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
