@import "/src/colors";

:host {
  display: block;
  background-color: $background-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid $border-grey;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 0;
  a {
    color: $real-hotpink;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
}

.main-nav {
  margin-top: 5px;
  a {
    color: $blue-eye;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    text-decoration-line: overline;
  }
}

/* ================================= 
    Media Queries
  ==================================== */

@media (min-width: 480px) {
  :host {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .main-nav {
    display: flex;
    justify-content: center;
  }
}
