@import "/src/colors";
.posts {
  display: flex;
  flex-flow: row wrap;

  .post {
    border: 1px solid $border-grey;

    border-radius: 5px;
    margin: 10px;
    height: 200px;
    width: calc((100% / 3) - 20px);
    padding: 10px;
    font-size: 25px;
  }

  &.feature {
    width: calc(((100% / 3) * 2) - 20px);
  }
}

@media (max-width: 480px) {
  .posts {
    .post {
      width: 100%;
    }
  }
}
